<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sequenca</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div id="app">
		<div class="header">
			<h1>Sequenca</h1>
			<p><a href="https://github.com/farishan/sequenca" target="_blank">(What is this?)</a></p>
		</div>

		<form @submit="generate" class="form">
			<div>
				<label for="length">Sequence Length (Odd)</label><br>
				<input autofocus type="num" v-model="listLength" id="length" required>
			</div>

			<div>
				<label for="min">Min Value</label><br>
				<input type="num" v-model="min" id="min" min="1" required>
			</div>

			<div>
				<label>Max Value</label><br>
				<input type="num" v-model="max" min="3" required>
			</div>

			<div>
				<button>Generate</button>
			</div>
		</form>

		<hr>

		<div>
			Damage Sequence:
			<table>
				<tr v-for="item in list">
					<td>{{item}}</td>
				</tr>
			</table>
		</div>
	</div>
	<script src="vue.min.js"></script>
	<script src="core.js"></script>
	<script src="main.js"></script>
</body>
</html>